{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3" >Tasks</h2>
      <h3 class="mb-3">To Do</h3>
      <ul class="list-group mb-4">
        {% for item in items if item["idList"] == "62cc1a1f3eac6c0953e9df48" %}
          <li class="list-group-item">
          <div class="container">
              <div class = "row">
                  <div class="col-9">
                      <b>Title:</b> {{ item.name }} <br/>
                      <b>Description</b> {{ item.description }} <br/>
                      <b>Due date: </b> {{ item.due_date }}
                 </div>
                  <div class = "col-2">
                      <a class ="btn btn-success" href="complete_item/{{ item.id }}" role="button">
              Completed
              </a>
                  </div>
                  <div class = "col-1">
                      <a class ="btn btn-danger" href="delete_item/{{ item.id }}" role="button">
              Delete
              </a>
                  </div>
              </div>
          </div>
          </li>
        {% endfor %}
      </ul>
      <h3 class="mb-3 mt-3">Completed</h3>
      <ul class="list-group mb-4">
          {% for item in items if item["idList"] == "62cc1a1f3eac6c0953e9df4a" %}
              <li class="list-group-item">
          <div class="container">
              <div class = "row">
                  <div class="col-9">
                      <b>Title:</b> {{ item.name }} <br/>
                      <b>Description</b> {{ item.description }} <br/>
                      <b>Due date: </b> {{ item.due_date }}
                 </div>
                  <div class = "col-2">
                      <a class ="btn btn-outline-warning" href="uncomplete_item/{{ item.id }}" role="button">
              To-do
              </a>
                  </div>
                  <div class = "col-1">
                      <a class ="btn btn-danger" href="delete_item/{{ item.id }}" role="button">
              Delete
              </a>
                  </div>
              </div>
          </div>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

    <div class = "form_collect mb-3">
        <h3 class="mb-3 mt-3">Create a new task</h3>
        <form action = {{ url_for("create_new_task") }} method="post">
            <div class="form-group">
                <label for="todo">Enter task name: </label>
                <input type = "text" name="todo" id="todo" class="form-control" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="description">Enter task description: </label>
                <input type = "text" name="description" id="description"
                       class="form-control" placeholder="Description" required>
            </div>
            <div class="form-group date" data-provide="datepicker">
                <label for="date">Enter due date: </label>
                <input type = "date" class="form-control" name="date" id="date" required>
            </div>
            <div class = "form_item">
                <Button type="submit" class="btn btn-primary btn-large">Add</Button>
            </div>
        </form>
    </div>
{% endblock %}